body {
  margin-top: 0px;
  margin-left: 0px;
}
.space {
  width: 1315px;
  height: 695px;
}
.logo-container {
  margin-top: 20px;
  margin-left: 20px;
}
.logo {
  size: 70px;
  margin-top: 30px;
}
.nav-container {
  margin-top: -680px;
  margin-left: 50px;
  background-color: green;
}
.button-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(30, 30, 47);
  width: 865px;
  height: 70px;
  margin-top: -60px;
  margin-left: 400px;
  filter: opacity(70%);
}
.nav-button {
  width: 150px;
  height: 40px;
  border: none;
  background-color: rgb(30, 30, 47);
  color: white;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 30px;
}
.travel-infor {
  margin-top: 200px;
}
.space-infor {
  width: 300px;
  height: 700px;
  margin-top: -35px;
  margin-left: 180px;
  border-top-style: solid;
  border-top-color: rgb(47, 47, 72);
  border-top-style: solid;
  border-top-width: thin;
  filter: opacity(70%);
}
.space-title {
  color: rgb(155, 146, 146);
  font-size: 16px;
}
.space-head {
  color: white;
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 30px;
  letter-spacing: 10px;
  word-wrap: initial;
}
.space-body {
  color: grey;
  font-size: 12px;
  width: 358px;
  margin-top: 0px;
}
